<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Integrantes</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Crear Nuevo Integrante</h2>

        <section>
            <form action="/admin/integrantes/crear" method="post">
                <fieldset>
                    <legend>Integrante</legend>
                    <label for="matricula">Matricula</label>
                    <input id="matricula" name="matricula" type="text">

                    <label for="nombre">Nombre</label>
                    <input id="nombre" name="nombre" type="text">

                    <label for="apellido">Apellido</label>
                    <input id="apellido" name="apellido" type="text">

                    <label for="estado_integrante_activo">Activo</label>
                    <input id="estado_integrante_activo" name="activo" type="radio" value="1" checked>
                    <label for="estado_integrante_inactivo">Inactivo</label>
                    <input id="estado_integrante_inactivo" name="activo" type="radio" value="0">
                </fieldset>
                <input type="submit" value="Crear">


            </form>

        </section>

     <a href="/admin/integrantes/listar">Volver A Listado Integrantes</a>
     
</body>
</html>