<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Integrantes</title>
    <style>
        table{
            border-collapse: collapse;
        }
        table,
        th,
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Listado</h2>

    <section>
        <table>
            <tr>
                {{!-- Fila 1 de la Tabla --}}
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Codigo</th>
                <th>Orden</th>
                <th>Activo</th>
            </tr>
                {{!-- Para Iteracion atender que es td--}}
            
            {{#if integrantes.length}}
                {{#each integrantes}}
                <tr>
                    <td>{{matricula}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{codigo}}</td>
                    <td>{{orden}}</td>
                    <td class="{{#if activo}}activo{{else}}inactivo{{/if}}">
                        {{#if activo}}Activo{{else}}Inactivo{{/if}}
                    </td>
                </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">No hay datos de Integrantes Registrados</td>
                </tr>
            {{/if}}
        </table>
    </section>

     <a href="/admin">Volver</a>
     <a href="/admin/integrantes/crear">Crear Nuevo</a>
</body>
</html>