<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Media</title>
</head>
<body>
    <section>
        <table>
            <tr>
                {{!-- Fila 1 de la Tabla --}}
                <th>Id</th>
                <th>Nombre</th>
                <th>Orden</th>
                <th>Activo</th>
            </tr>
                {{!-- Para Iteracion atender que es td--}}
            {{#if media.length}}
                {{#each media}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{matricula}}</td>
                    <td>{{titulo}}</td>
                    <td>{{video}}</td>
                    <td>{{scr_propia}}</td>
                    <td>{{scr}}</td>
                    <td>{{id_tmedia}}</td>
                    <td>{{orden}}</td>
                    <td class="{{#if activo}}activo{{else}}inactivo{{/if}}">
                        {{#if activo}}Activo{{else}}Inactivo{{/if}}
                    </td>
                </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">No hay datos de Media Registrados</td>
                </tr>
            {{/if}}
        </table>
    </section>

     <a href="/admin">Volver</a>
     <a href="/admin/tipo_media/crear">Crear Nuevo</a>
</body>
</html>